.discount-section {
  width: 100%;
  margin-top: 80px;
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}


.discount-header {
  width: 940px;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-header h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
}

.discount-header button {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.15);
  color: #c7d5e0;
  padding: 7px 16px;
  cursor: pointer;
}

/* LAYOUT */
.discount-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  overflow: visible;
}

.discount-cards {
  display: flex;
  gap: 10px;
  overflow: visible;
}


.previous-slide,
.next-slide {
  width: 55px;
  height: 110px;
  border: none;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 38px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 8px;
}

.previous-slide:hover,
.next-slide:hover {
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.4);
}

.previous-slide:active,
.next-slide:active {
  transform: scale(0.95);
}


.game-card {
  position: relative;

  width: 310px;
  height: 360px;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  background: linear-gradient(
    135deg,
    #050816,
    #0a1029,
    rgb(8, 12, 41),
    #0b0424,
    #0a1029
  );

  background-size: 400% 400%;

  animation: cardGradient 8s ease infinite;
}
.game-card::before {
  content: "";

  position: absolute;

  width: 500px;
  height: 500px;

  top: -250px;
  left: -250px;

  background: radial-gradient(
    circle,
    rgba(59, 130, 246, 0.18),
    transparent 65%
  );

  animation: blueOrb 12s linear infinite;

  pointer-events: none;

  z-index: 1;
}

.game-card::after {
  content: "";

  position: absolute;

  width: 400px;
  height: 400px;

  bottom: -200px;
  right: -200px;

  background: radial-gradient(
    circle,
    rgba(139, 92, 246, 0.20),
    transparent 65%
  );

  animation: purpleOrb 10s linear infinite;

  pointer-events: none;

  z-index: 1;
}

.game-card img,
.game-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-card img {
  width: 100%;
  height: 210px; /* 🔥 reduzido */
  object-fit: cover;
}

.game-info {
  flex: 1;

  padding: 16px 18px 10px 18px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-info h3 {
  margin-top: 4px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Inter', sans-serif; 
  text-transform: uppercase;
  letter-spacing: 0.6px;
  line-height: 1.0;
}
.game-info p {
  color: #acdbf5;
  font-size: 13px;
  line-height: 18px;
}
<<<<<<< HEAD

=======
>>>>>>> b768a8d (Corrigindo bugs e melhorando a estilização)
.price-box {
  display: flex;
  align-items: center;

  gap: 12px;

  margin-top: auto;

  transform: translateY(-12px);
}

.discount {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 60px;
  height: 44px;

  color: white;

  font-size: 20px;
  font-weight: bold;

  padding: 0 10px;

  position: relative;

  overflow: hidden;

  background: rgba(30, 30, 30, 0.55);

  border: 1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  border-radius: 8px;

  box-shadow:
    0 0 10px rgba(0,0,0,0.35),
    inset 0 0 15px rgba(255,255,255,0.02);
}
.prices {
  flex: 1;

  padding: 6px 12px;

  position: relative;

  overflow: hidden;

  background: rgba(30, 30, 30, 0.55);

  border: 1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  border-radius: 8px;

  box-shadow:
    0 0 10px rgba(0,0,0,0.35),
    inset 0 0 15px rgba(255,255,255,0.02);
}

.discount::before,
.discount::after,
.prices::before,
.prices::after {
  content: "";

  position: absolute;

  inset: -70%;

  background: radial-gradient(
    circle at 50% 50%,
    rgba(255,255,255,0.06),
    transparent 55%
  );

  opacity: 0.4;
}

.discount::before,
.prices::before {
  animation: waveMove 7s linear infinite;
}

.discount::after,
.prices::after {
  animation: waveMove2 10s linear infinite;
}

.discount {
  color: white;

  font-size: 13px;
  font-weight: bold;

  padding: 6px 10px;
}

.prices {
  padding: 6px 10px;
}

.prices small {
  display: block;

  color: #9ca3af;

  text-decoration: line-through;

  font-size: 11px;

  position: relative;
  z-index: 2;
}

.prices strong {
  position: relative;
  z-index: 2;

  font-size: 15px;
  font-weight: 600;

  background: linear-gradient(
    90deg,
    #c0c0c0,
    #ffffff,
    #c0c0c0
  );

  background-size: 200% auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: silverShine 3s linear infinite;
}


.hover-details {
  position: absolute;
  top: 0;
  left: 102%;
  width: 240px;

  background: #dbeafe;
  padding: 10px;
  border-radius: 6px;

  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transition: 0.25s ease;

  z-index: 9999;

  pointer-events: none; /* 🔥 ESSENCIAL */
  box-shadow: 0 10px 30px rgba(0,0,0,0.45);
}

.game-card:hover .hover-details {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.hover-details h3 {
  color: #111827;
  font-size: 16px;
  margin-bottom: 4px;
}

.release-date {
  font-size: 12px;
  color: #374151;
  margin-bottom: 6px;
}

.hover-images {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
}

.hover-images img {
  width: 100%;
  height: 55px;
  object-fit: cover;
  border-radius: 4px;
}

.review-text {
  font-size: 12px;
  color: #2563eb;
  margin-bottom: 6px;
}

.hover-tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.hover-tags span {
  background: #94a3b8;
  color: #fff;
  padding: 4px 6px;
  font-size: 10px;
  border-radius: 4px;
}


.side-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.mini-card {
  position: relative;
  width: 300px;
  height: 190px;
  background: #b7d5e5;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: visible;
}

.mini-card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.mini-info {
  flex: 1;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-info span {
  font-size: 13px;
  color: #263645;
}

.mini-price {
  display: flex;
  gap: 6px;
  align-items: center;
}

.mini-price strong {
  background: #4c6b22;
  color: #b9f34b;
  padding: 4px 6px;
  font-size: 12px;
}

.mini-price p {
  font-size: 14px;
  color: #65a30d;
  font-weight: bold;
}


.mini-hover-details {
  position: absolute;
  top: 50%;
  left: 100%;

  transform: translate(12px, -50%) scale(0.95);

  width: 220px;
  background: #0f172a;
  color: #fff;

  padding: 10px;
  border-radius: 8px;

  opacity: 0;
  visibility: hidden;

  transition: 0.2s ease;

  z-index: 9999;

  pointer-events: none; /* 🔥 CORREÇÃO PRINCIPAL */

  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.mini-card:hover .mini-hover-details {
  opacity: 1;
  visibility: visible;
  transform: translate(12px, -50%) scale(1);
}

.mini-hover-details h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.mini-genre {
  font-size: 12px;
  color: #94a3b8;
  margin-bottom: 8px;
}

.mini-hover-imgs {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
}

.mini-hover-imgs img {
  width: 48%;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.mini-review {
  font-size: 12px;
  color: #4ade80;
}


.slider-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

.slider-dots span {
  width: 14px;
  height: 9px;
  background: rgba(255,255,255,0.2);
  border-radius: 2px;
}

.active-dot {
  background: #67c1f5 !important;
}



@keyframes silverShine {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: 200% center;
  }
}

@keyframes waveMove {
  0% {
    transform: translate(-10%, -10%) rotate(0deg);
  }

  50% {
    transform: translate(10%, 10%) rotate(180deg);
  }

  100% {
    transform: translate(-10%, -10%) rotate(360deg);
  }
}

@keyframes waveMove2 {
  0% {
    transform: translate(10%, 10%) rotate(0deg);
  }

  50% {
    transform: translate(-10%, -10%) rotate(180deg);
  }

  100% {
    transform: translate(10%, 10%) rotate(360deg);
  }
}

@keyframes cardGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes blueOrb {
  0% {
    transform: rotate(0deg) translateX(60px);
  }

  100% {
    transform: rotate(360deg) translateX(60px);
  }
}

@keyframes purpleOrb {
  0% {
    transform: rotate(360deg) translateX(50px);
  }

  100% {
    transform: rotate(0deg) translateX(50px);
  }
}